{% extends "navpage.html" %}

{% block page_class %}bio-page{% endblock %}

{% block title %}Biography {% endblock %}

{% block content %}
<div class="page-section bio-page">

    

    <!-- Flex container for left image, text, right image -->
    <div class="bio-flex">
          <h1>Biography</h1> 
        
    
        <!-- Left image -->
        <img src="{{ url_for('static', filename='images/workstation.jpg') }}" 
             alt="Workstation" 
             class="bio-image">


        <!-- Text directly in container -->
    
      
    
    
        <p>
            Peter Mucheru is an aspiring ethical hacker and telecommunications engineer with a strong passion for securing digital systems and creating opportunities through technology.
            <br><br>
            He is currently pursuing Professional Foundation and Cybersecurity training at ALX Africa, alongside a Diploma in Telecommunication Engineering at the Nairobi National Polytechnic. Choosing cybersecurity as his specialization directly supports his GCGO of job creation, not only by equipping him with high-demand skills that make him employable, but also by enabling him to provide security services, develop solutions, and mentor others, creating ripple effects of opportunity.
            <br><br>
            Peter’s uniqueness lies in his blend of networking, security, and development skills, coupled with a mindset of continuous learning and hands-on practice. He has gained practical penetration testing experience through TryHackMe labs, applied his knowledge in Python web development to build security-aware applications, and worked on projects that translate theory into real-world results.
            <br><br>
            His career goal is to become a trusted cybersecurity expert and ethical hacker,  helping organizations strengthen digital infrastructure, secure networks, and stay ahead of emerging threats. This aligns with his passion for problem-solving, protecting communities, and contributing to the growth of a safer, more reliable digital economy.
            <br><br>
            From experts in his field, Peter has learned three key insights for success:
            <br><br>
            Never stop learning— cybersecurity evolves daily, and staying adaptable is essential.
            <br><br>
            Hands-on experience speaks louder than theory— building a portfolio of real-world projects proves capability.
            <br><br>
            Networking creates opportunity— connecting with communities and professionals opens doors for collaboration and growth

        </p>
    

        <!-- Right image -->
        <img src="{{ url_for('static', filename='images/networking.jpg') }}" 
             alt="networking" 
             alt="right"
             width="200px" />
    
    </div>

</div>

{% endblock %}
