{% extends "navpage.html" %}

{% block page_class %}info-page{% endblock %}

{% block title %}Info {% endblock %}

{% block content %}
<section class="page-section info-page">
    <div class="contact-container">
        <h2>Contact Information</h2>
        <h3>If you found my portfolio interesting, you can reach me through:</h3>

        <p>📧 Email: <a href="mailto:addevpn@gmail.com">addevpn@gmail.com</a></p>
        <p>🌐 LinkedIn: <a href="https://linkedin.com/in/peter-mucheru" target="_blank">linkedin.com/in/peter-mucheru</a></p>
        <p>💻 GitHub: <a href="https://github.com/petyr2" target="_blank">github.com/petyr2</a></p>
    </div>
</section>
{% endblock %}
