{% extends "navpage.html" %}

{% block page_class %}home-page{% endblock %}

{% block content %}
<div class="homepage">
    <h1>Welcome To My Personal Website you are now at the home page</h1>
    <h2>Mucheru Peter</h2>
    <p>
        I’m an aspiring cybersecurity professional and telecommunications engineer with a strong foundation in networking, system security, and Flask web development. 
        <br>
        Passionate about solving real-world problems, I combine hands-on experience in penetration testing and web projects with continuous learning to build secure and practical digital solutions.
    </p>
</div>
{% endblock %}
