<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Portfolio{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
</head>
<body class="{% block page_class %}{% endblock %}">
  <div class="wrapper">
    <header>
      <nav class="navbar">
        <div class="logo">PEMUCH</div>
        <ul class="nav-links">
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('page') }}">Bio</a></li>
          <li><a href="{{ url_for('portfolio') }}">My Portfolio</a></li>
          <li><a href="{{ url_for('pit') }}">Pitch</a></li>
          <li><a href="{{ url_for('info') }}">Info</a></li>
        </ul>
      </nav>
    </header>

    <main>
      {% block content %}{% endblock %}
    </main>

   
    <br>

    <footer>
      <p>© 2025 This is my portfolio </p>
      <<div class="socials">
  <!-- GitHub -->
  <a href="https://github.com/petyr2" target="_blank">
    <img src="{{ url_for('static', filename='images/github-icon.svg') }}" alt="GitHub" width="30" height="30">
  </a>

  <!-- LinkedIn -->
  <a href="https://www.linkedin.com/in/your-linkedin-username/" target="_blank">
    <img src="{{ url_for('static', filename='images/download.png') }}" alt="LinkedIn" width="30" height="30">
  </a>
</div>

    </footer>
  </div>
</body>
</html>
