{% extends "navpage.html" %}
{% block page_class %}pitch-page{% endblock %}

{% block title %}Pitch {% endblock %}

{% block content %}
<section class="page-section pitch-page">
    <div class="pitch-container">
        <h2>Pitch</h2>
        <p>
            Hi, my name is Peter Mucheru.
            <br>
            I have a background in cybersecurity and telecommunications engineering, with experience in networking, system security, and web development.
            <br><br>
           My skills are network security, ethical hacking, and backend development.
            <br><br>
            What makes me different is that I combine digital security knowledge with practical engineering skills like electrical installations and CCTV systems, which means I can handle both online and physical security needs.

            <br><br>
            By bringing these skills together, I help organizations protect their systems, prevent risks, and make their work safer and easier.

            <br><br>
            I believe my problem-solving mindset and adaptability make me the right person to deliver trusted security solutions.
        </p>

        <div class="pitch-video-placeholder">
            <video width="640" height="360" controls>
                <source src="{{ url_for('static', filename='videos/pitch2.mp4') }}" type="video/mp4">
                    Your browser does not support the video tag.
            </video>
        </div>

    </div>
</section>
{% endblock %}
